$column-number: 12 !default;

@mixin calc-grid($index, $type) {
  @if ($type == width) and ($index > 0) {
    .col-#{$index} {
      #{$type}: percentage(($index / $column-number));
    }
  }
}

@mixin loop-grid($columns,  $type) {
  @for $i from 0 through $columns {
    @include calc-grid($i,  $type);
  }
}

@include loop-grid($column-number, width);

/*
// Containers
*/

.mg-container {
	display: flex;
	
	&.mg-center {
		justify-content: center;
	}

	&.mg-end {
		justify-content: flex-end;
	}

	&.mg-start {
		justify-content: flex-start;
	}

	&.mg-between {
		justify-content: space-between;
	}

	&.mg-around {
		justify-content: space-around;
	}

	> * {
		padding: 0 15px;
		margin: 5px 0;

		.box {
			height: 80px;
			border: 1px solid red;
		}
	}
}