#header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	.header__brand {
		text-align: center;
	}

	.header__nav {

		ul {

			li {
				display: block;
				text-align: center;

				a {
					color: darken($color-primary, 10%);
					text-decoration: none;
					text-transform: uppercase;
					font-size: 20px;
					display: block;
					padding: 10px 8px;
				}
			}
		}
	}
}