/*
// Regras gerais
*/

@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
	list-style: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: $color-primary;
	outline: none;
}

/*
// Components
*/

#main {	

	section {
		padding: 30px 0;
	}
}

.title-area {
	font-size: 30px;
	text-transform: uppercase;
	color: $color-primary;
	margin: 10px 0 30px;
}

.subtitle-area {
	@extend .title-area;

	font-size: 18px;
}

.text-area {
	font-size: 16px;
	margin: 10px 0;
	color: $color-dark;
	margin: 0;
}

.list {
	list-style-type: disc;
	padding-left: 18px;
	margin: 30px 0;

	li {
		list-style: inherit;
	}
}

.box-item {
	padding: 30px;
	margin: 30px 0;
	text-align: center;
	border: 3px solid;

	.fi {
		font-size: 65px;
	}

	h3 {
		text-transform: uppercase;
		height: 46px;
		margin: 20px 0;
		font-weight: bold;

		&:after {
			content: '';
			display: block;
			height: 3px;
			width: 0%;
			margin: 10px auto;
			background-color: $color-clean;
			transition: width ease .2s;
		}
	}
	
	p {
		height: 57px;
		overflow: hidden;
	}

	&:hover {

		h3:after {
			width: 40%;
		}
	}
}

.btn-primary {
	border: none;
	padding: 13px 16px;
	text-align: center;
	display: block;
	background-color: $color-primary;
	text-transform: uppercase;
	text-decoration: none;
	width: 100%;
	margin-bottom: 20px;
	transition: color ease .3s, background-color ease .3s;
	color: $color-clean;

	.fi,
	.fa {
		transition: color ease .3s;
		color: $color-clean;
	}

	&:hover {
		background-color: $color-dark;
	}
}

code {
	padding: 10px;
	background-color: #fdf8f0;
	border: 1px solid #ccc;
	border-left: 3px solid $color-primary;
	color: $color-dark;
	display: block;
	overflow-x: auto;
	white-space: nowrap;
	margin-bottom: 30px;
}

.demo-box {
	padding: 8px 0;
	margin: 10px 0;
	border: 2px solid;
	text-align: center;
	background-color: $color-primary;
}

.contrast {
	background-color: $color-primary;
	border-top: 4px solid $color-dark;
	border-bottom: 4px solid $color-dark;
	
	* {
		color: $color-clean;
		border-color: $color-clean;
	}

	.demo-box {
		background-color: $color-clean;
	}
}