/*
// Cores
*/

$color-primary   : #3399dd;
$color-secondary : #77bbee;
$color-light     : #bbddee;
$color-clean     : #ffffff;
$color-dark      : #778899;

/*
// Breakpoints
*/

$screen-mb: 450px;
$screen-tb: 768px;
$screen-dk: 992px;
$screen-tv: 1200px;