/*
// Cores principais
*/

$color-primary   : #3399dd;
$color-secondary : #77bbee;
$color-light     : #bbddee;
$color-dark      : #778899;

/*
// Tamanhos
*/

$screen-xs: 450px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
